ul {
    list-style-type: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


.remove_style {
    li {
        padding-left: 0;
        &:before{
            display: none;
        }
    }
}