<app-banner [banner]="banner"></app-banner>

<div class="update_sec common_gap" id="particles-js2">
    <div class="container">
      <div class="update_inner">
      <ng-container *ngIf="eventList !== undefined && eventList?.length > 0">
        <h3>Events List</h3>
        <div class="row update_main_area_cont" *ngFor="let event of eventList | paginate: { itemsPerPage: 9, currentPage: p }">
          <div class="col-lg-12 col-md-12  update_main_area" style="margin-top: 30px;">
            <div class="update_box">
              <div class="update_cont">
                <h4>
                  <a [innerHTML]="event?.title"></a>
                </h4>
                <span>{{event?.date | date: 'MMM d, y, h:mm a'}}</span>
                <ng-container *ngIf="event?.longText">
                    <div *ngIf="!event?.showFull">{{convertDesc(event?.content)}}</div>
                    <div *ngIf="event?.showFull" [innerHTML]="event?.content"></div>
                    <a style="margin-top: 10px;cursor: pointer;" class="redmore_btn" (click)="showLessMore(event)" [innerHTML]="event?.showFull ? 'See Less' : 'See More'"></a>
                </ng-container>
                <ng-container *ngIf="!event?.longText">
                    <div [innerHTML]="event?.content"></div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 20px;text-align: center;" >
          <pagination-controls *ngIf="eventList?.length > 9" (pageChange)="p = $event"></pagination-controls>
        </div>
        </ng-container>
        <div class="no-data-center" *ngIf="eventList === undefined || eventList?.length === 0">No data available!</div>
      </div>
    </div>
  </div>
