// .adjustableImg {min-height: 200px; object-fit: cover; width: 100%}
.feature-caption {
    font-size: 24px;
    font-weight: 500;
    color: rgb(63,156,215);
    text-transform: uppercase;
    margin-bottom: 24px !important;
  }
  .feature-description {
    font-size: 18px;
    font-weight: 300;
    color: #404040;
    text-align: center;
  }
  .feature-image {
    max-width: 128px;
    max-height: 128px;
  }
  .align-center {
    text-align: center;
  }
  .post-title {
    font-size: 24px;
  }
  .post-summary {
    font-size: 18px;
  }
  .post_sec .row:not(:last-child) {
    margin-bottom: 50px;
  }
  .carousel-img {
    max-height: 400px;
  }
  .image_sec {
    //padding-top: 0px;
  }
  .post_sec {
    //padding-top: 0px;
  }
  .video-iframe {
    max-width: 800px;
  }
  .update_sec {
    // padding: 90px 0 0 0;
  }
  .video_sec {
    //padding-top: 0px;
    //padding-bottom: 0px;
  }
  .post-image {
    max-width: 500px;
    max-height: 405px;
  }
  .banner_cont {
    padding-top: 90px;
  }
  .slide h3, h4 {
    font-weight: normal;
    color: #404040;
  }
.slide h1 {
  font-size: 60px;
}



