<header class="header">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg">
      <div class="logo">
        <a [routerLink]="['/home']" routerLinkActive="active">
          <img src="assets/images/logo2.png" alt="">
        </a>
      </div>
      <div class="user_right">
        <form #allOverSiteSeacrhForm [formGroup]="seacrhForm">
          <div class="search">
            <a class="search_btn">
              <img class="search_icon" src="assets/images/search.svg" alt="">
              <img class="closed" src="assets/images/closed.svg" alt="">
            </a>
            <input type="search" placeholder="Search" formControlName="searchKeyword" (keyup.enter)="searchAgainstKeyword()" required>
          </div>
        </form>
      </div>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mymenu">
        <img src="assets/images/collapseable.png" alt="">
      </button>
      <div class="collapse navbar-collapse" id="mymenu">
        <ul class="navbar-nav m-auto">
          <li>
            <a [routerLink]="['/product']" routerLinkActive="active" class="d-flex d-lg-inline-block justify-content-between">
              <span>Products</span>
              <mat-icon class="d-inline-block d-lg-none">expand_more</mat-icon>
            </a>
            <ng-container *ngIf="productListWithCategory !== undefined && productListWithCategory?.length > 0">
              <ul class="sub-menu">
                  <!-- <li>
                    <a [routerLink]="['/probe-finder']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">Probe Finder</a>
                  </li> -->
                  <ng-container *ngFor="let category of productListWithCategory;">
                    <li class="menu-item-has-children" *ngIf="category?.name.toLowerCase() !== 'catalog'"><a style="cursor: pointer;" [routerLink]="['/product-category-details', category?.slug]" >{{category?.name}}</a>
                      <ng-container *ngIf="category?.productsList?.length > 0">
                        <ng-container *ngIf="category?.name.toLowerCase() !== 'electrode arrays' && category?.name.toLowerCase() !== 'software' && category?.name.toLowerCase() !== 'accessories'">
                          <ul class="sub-menu scndsubmenu">
                            <ng-container *ngFor="let product of category?.productsList;">
                              <li>
                                <a style="cursor: pointer;" [routerLink]="['/product-details', product?.slug]" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                  {{product?.name}}
                                </a>
                              </li>
                            </ng-container>
                          </ul>
                        </ng-container>

                        <ng-container *ngIf="category?.name.toLowerCase() === 'electrode arrays'">
                          <ul class="sub-menu scndsubmenu">
                            <ng-container *ngFor="let product of category?.productsList;">
                              <li *ngIf="product?.name.toLowerCase() !== 'probe finder' && product?.name.toLowerCase() !== 'product videos'">
                                <a style="cursor: pointer;" [routerLink]="['/product-details', product?.slug]" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                  {{product?.name}}
                                </a>
                              </li>
                              <li *ngIf="product?.name.toLowerCase() === 'probe finder'">
                                <a routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                  {{product?.name}}
                                </a>
                              </li>
                              <li *ngIf="product?.name.toLowerCase() === 'product videos'">
                                <a [routerLink]="['/media-list', 'electrode']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                  {{product?.name}}
                                </a>
                              </li>
                            </ng-container>
                          </ul>
                        </ng-container>

                        <ng-container *ngIf="category?.name.toLowerCase() === 'software'">
                          <ul class="sub-menu scndsubmenu">
                            <ng-container *ngFor="let product of category?.productsList;">
                              <li *ngIf="product?.name.toLowerCase() !== 'product videos'">
                                <a style="cursor: pointer;" [routerLink]="['/product-details', product?.slug]" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                  {{product?.name}}
                                </a>
                              </li>
                              <li *ngIf="product?.name.toLowerCase() === 'product videos'">
                                <a [routerLink]="['/media-list', 'software']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                  {{product?.name}}
                                </a>
                              </li>
                            </ng-container>
                          </ul>
                        </ng-container>

                        <ng-container *ngIf="category?.name.toLowerCase() === 'accessories'">
                          <ul class="sub-menu scndsubmenu">
                            <ng-container *ngFor="let product of category?.productsList;">
                              <li *ngIf="product?.name.toLowerCase() !== 'product videos'">
                                <a style="cursor: pointer;" [routerLink]="['/product-details', product?.slug]" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                  {{product?.name}}
                                </a>
                              </li>
                              <li *ngIf="product?.name.toLowerCase() === 'product videos'">
                                <a [routerLink]="['/media-list', 'accessories']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                  {{product?.name}}
                                </a>
                              </li>
                            </ng-container>
                          </ul>
                        </ng-container>
                      </ng-container>
                    </li>
                    <li class="menu-item-has-children" *ngIf="category?.name.toLowerCase() === 'catalog'">
                      <a [routerLink]="['/catalogs-brochures']" routerLinkActive="active"  style="cursor: pointer;">
                        {{category?.name}}
                      </a>
                    </li> 
                  </ng-container>
                  <!-- For Catalogs + Brochures -->
                  <!-- <li class="menu-item-has-children"><a [routerLink]="['/catalogs-brochures']" routerLinkActive="active"  style="cursor: pointer;">Catalogs + Brochures</a>
                    <ul class="sub-menu scndsubmenu">
                        <li><a href="{{BASE_IMAGE_URL}}catalogs/{{catlogAndBrouchers?.catalog_file}}" target="_blank" style="cursor: pointer;">{{catlogAndBrouchers?.catalog_title}}</a></li>
                        <li><a href="{{BASE_IMAGE_URL}}catalogs/{{catlogAndBrouchers?.brochures_file}}" target="_blank" style="cursor: pointer;">{{catlogAndBrouchers?.brochures_title}}</a></li>
                    </ul>
                  </li> -->
              </ul>
            </ng-container>
          </li>
          <li>
            <!-- <a [routerLink]="['/science-update/science-update-list']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
              attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
              Science
            </a> -->
            <a [routerLink]="['/science-update/science-update-list']" routerLinkActive="active" class="d-flex d-lg-inline-block justify-content-between">
              <span>Science</span>
              <mat-icon class="d-inline-block d-lg-none">expand_more</mat-icon>
            </a>
            <ng-container *ngIf="scienceList !== undefined && scienceList?.length > 0">
              <ul class="sub-menu">
                  <ng-container *ngFor="let parent of scienceList;">
                    <li class="menu-item-has-children" *ngIf="parent?.parent_id === null">
                      <a style="cursor: pointer;" [routerLink]="['/science-details', parent?.slug]" routerLinkActive="active">
                        {{parent?.title}}
                      </a>
                      <ng-container *ngIf="checkHasSubmenu(parent)">
                        <ul class="sub-menu scndsubmenu" >
                          <ng-container *ngFor="let child of scienceList;">
                            <li *ngIf="parent?._id === child?.parent_id">
                              <a style="cursor: pointer;" *ngIf="child?.title.toLowerCase() !== 'testimonials'" [routerLink]="['/science-details', child?.slug]" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                {{child?.title}}
                              </a>

                              <a style="cursor: pointer;" *ngIf="child?.title.toLowerCase() === 'testimonials'" [routerLink]="['/testimonials']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                {{child?.title}}
                              </a>
                            </li>
                            
                          </ng-container>
                        </ul>
                      </ng-container>
                    </li>
                  </ng-container>
              </ul>
            </ng-container>
          </li>
          <!-- Added As per the client feed back -->
          <li>
            <!-- <a routerLinkActive="active">Technology</a> -->
            <a [routerLink]="['/technology']" routerLinkActive="active" class="d-flex d-lg-inline-block justify-content-between">
              <span>Technology</span>
              <mat-icon class="d-inline-block d-lg-none">expand_more</mat-icon>
            </a>
            <ng-container *ngIf="technologyList !== undefined && technologyList?.length > 0">
              <ul class="sub-menu">
                  <ng-container *ngFor="let parent of technologyList;">
                    <li class="menu-item-has-children" *ngIf="parent?.parent_id === null && parent?.title.toLowerCase() !== 'thin-film electrode arrays'">
                      <a style="cursor: pointer;" [routerLink]="['/technology-details', parent?.slug]" routerLinkActive="active">
                        {{parent?.title}}
                      </a>
                      <ng-container *ngIf="checkHasSubmenu(parent)">
                        <ul class="sub-menu scndsubmenu" >
                          <ng-container *ngFor="let child of technologyList;">
                            <li *ngIf="parent?._id === child?.parent_id">
                              <a style="cursor: pointer;" [routerLink]="['/technology-details', child?.slug]" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                {{child?.title}}
                              </a>
                            </li>
                          </ng-container>
                        </ul>
                      </ng-container>
                    </li>
                    <li class="menu-item-has-children" *ngIf="parent?.parent_id === null && parent?.title.toLowerCase() === 'thin-film electrode arrays'">
                      <a style="cursor: pointer;" [routerLink]="['/technology-electrode-arrays']" routerLinkActive="active">
                        {{parent?.title}}
                      </a>
                      <ng-container *ngIf="checkHasSubmenu(parent)">
                        <ul class="sub-menu scndsubmenu" >
                          <ng-container *ngFor="let child of technologyList;">
                            <li *ngIf="parent?._id === child?.parent_id">
                              <a style="cursor: pointer;" [routerLink]="['/technology-details', child?.slug]" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                                {{child?.title}}
                              </a>
                            </li>
                          </ng-container>
                        </ul>
                      </ng-container>
                    </li>
                  </ng-container>
              </ul>
            </ng-container>
          </li>
          <li class="menu-item-has-children ">
            <a [routerLink]="['/support']" routerLinkActive="active" class="d-flex d-lg-inline-block justify-content-between">
              <span>Support</span>
              <mat-icon class="d-inline-block d-lg-none">expand_more</mat-icon>
            </a>
            <ng-container *ngIf="supportList !== undefined && supportList?.length > 0">
              <ul class="sub-menu">
                  <ng-container *ngFor="let parent of supportList;">
                    <li class="menu-item-has-children" *ngIf="parent?.parent_id === null && parent?.title.toLowerCase() !== 'training videos' && parent?.title.toLowerCase() !== 'grant support'">
                      <a style="cursor: pointer;" [routerLink]="['/support-details', parent?.slug]" routerLinkActive="active">{{parent?.title}}</a>
                      <ng-container *ngIf="checkHasSubmenu(parent)">
                        <ul class="sub-menu scndsubmenu" >
                          <ng-container *ngFor="let child of supportList;">
                            <li *ngIf="parent?._id === child?.parent_id"><a style="cursor: pointer;" [routerLink]="['/support-details', child?.slug]" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}" attr.data-target="{{ isToggle ? '#mymenu' : '' }}">{{child?.title}}</a>
                            </li>
                          </ng-container>
                        </ul>
                      </ng-container>
                    </li>

                    <li class="menu-item-has-children" *ngIf="parent?.parent_id === null && parent?.title.toLowerCase() === 'training videos'">
                      <a style="cursor: pointer;" [routerLink]="['/media-list', 'training']" routerLinkActive="active">{{parent?.title}}</a>
                    </li>

                    <li class="menu-item-has-children" *ngIf="parent?.parent_id === null && parent?.title.toLowerCase() === 'grant support'">
                      <a style="cursor: pointer;" [routerLink]="['/support-blog']" routerLinkActive="active">{{parent?.title}}</a>
                    </li>
                  </ng-container>
                  <li><a [routerLink]="['/knowledge-center']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                      attr.data-target="{{ isToggle ? '#mymenu' : '' }}">Knowledge Center (FAQs)</a>
                  </li>
              </ul>
            </ng-container>
          </li>
          <li class="menu-item-has-children">
            <a [routerLink]="['/about']" routerLinkActive="active" class="d-flex d-lg-inline-block justify-content-between">
              <span>Company</span>
              <mat-icon class="d-inline-block d-lg-none">expand_more</mat-icon>
            </a>
            <ul class="sub-menu">
              <li><a [routerLink]="['/about']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                About Us</a>
            </li>
              <li><a [routerLink]="['/team']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                  attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                  <!-- Meet The Team -->
                  Team
                </a>
              </li>

              <!-- NEED TO ADD PATH -->
              <li><a [routerLink]="['/events']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                Events
              </a>
            </li>
            <li><a [routerLink]="['/science-update-collaboration']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                attr.data-target="{{ isToggle ? '#mymenu' : '' }}">
                <!-- Science Update Collaboration -->
                Collaboration
              </a>
            </li>
            <li><a [routerLink]="['/careers']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                attr.data-target="{{ isToggle ? '#mymenu' : '' }}">Careers</a>
            </li>
            <li><a [routerLink]="['/distributors']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                attr.data-target="{{ isToggle ? '#mymenu' : '' }}">Distributors</a>
            </li>
              <!-- <li><a [routerLink]="['/brain-initiative']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                  attr.data-target="{{ isToggle ? '#mymenu' : '' }}">Brain Initiative</a>
              </li> -->
              <li><a [routerLink]="['/contact']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
                attr.data-target="{{ isToggle ? '#mymenu' : '' }}">Contact Us</a>
            </li>
            </ul>
          </li>
          <li><a [routerLink]="['/contact']" routerLinkActive="active" attr.data-toggle="{{ isToggle ? 'collapse' : '' }}"
              attr.data-target="{{ isToggle ? '#mymenu' : '' }}" style="font-weight: bold;">Request A Quote</a>
          </li>
          <!-- <li><a routerLink="/"> Technology</a></li>     -->
          <!-- <li><a href="http://shopping.neuronexus.com/" target="_blank">Webstore</a></li>
          <li><a href="https://nnxbrainhacker.com/" target="_blank">Brainhacker</a></li> -->
          <!-- [routerLink]="['/brain-hacker']" routerLinkActive="active" -->
        </ul>
      </div>

    </nav>
  </div>
</header>
                <!-- <li><a href="https://getsatisfaction.com/neuronexus" target="_blank">Community-Powered Support</a></li> -->
