<app-banner [banner]="banner"></app-banner>


  <div class="meet_sec common_gap">
    <div class="container">
      <div class="meet_inner">
        <div class="meet_top" *ngIf="technologyDetailsContent && technologyDetailsContent !== 'error' && technologyDetailsContent !== 'no-data'">
          <h3>{{technologyDetailsContent?.title}}</h3> 
          <div [innerHtml]="safeData"></div>
        </div>
        <div class="no-data-center" *ngIf="technologyDetailsContent && technologyDetailsContent === 'error'">Some Error occurred!</div>
        <div class="no-data-center" *ngIf="technologyDetailsContent && technologyDetailsContent === 'no-data'">No data Available!</div>
        <div class="no-data-center" *ngIf="technologyDetailsContent === undefined">Loading...</div>
      </div>
    </div>
  </div>

  <div class="update_btn" style="margin-bottom: 20px;" *ngIf="technologyDetailsContent !== undefined">
    <a class="redmore_btn" [routerLink]="['/home']" routerLinkActive="active">Back</a>
  </div>
