@media (max-width: 991px){
  .leadership h3 {
    margin-bottom: 30px;
  }
}

.meet-team-tag {
  color: #048ebf;
}
.divider-border {
  height: 1px;
  margin: 40px auto 40px auto;
  background-color: #ddd;
}
.blocks-gallery-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px 30px;
}
@media (min-width: 600px) {
  .blocks-gallery-grid.columns-3 .blocks-gallery-item {
    width: calc((100% - 62px) / 3);
    margin-right: 16px;
  }
  .blocks-gallery-grid.columns-5 .blocks-gallery-item {
    width: calc((100% - 94px) / 5);
    margin-right: 16px;
  }
}
.blocks-gallery-item figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 40px 10px 9px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.3) 70%,transparent);
}
ul li.blocks-gallery-item {
  padding: 0px !important;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
ul li.blocks-gallery-item figure {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 0;
}
ul li.blocks-gallery-item img {
  height: 100%;
  flex: 1;
  object-fit: cover;
}
ul li.blocks-gallery-item:before {
  display: none;
}
.blocks-gallery-grid.columns-3 img {
  max-height: 500px;
}
.blocks-gallery-grid.columns-5 img {
  max-height: 320px;
}
