<app-banner [banner]="banner"></app-banner>


  <!-- <div class="meet_sec common_gap">
    <div class="container">
      <div class="meet_inner">
        <div class="meet_top" *ngIf="teamStaticContent !== undefined">
          <h3>{{teamStaticContent?.title_h2}}</h3>
          <h2>{{teamStaticContent?.title_h3}}</h2>
          <figure *ngIf="teamStaticContent?.image">
            <img src="{{BASE_IMAGE_URL}}cms/{{teamStaticContent?.image}}" alt="">
          </figure>
            <section [innerHtml]="teamStaticContent?.content"></section>
        </div>
        <div class="no-data-center" *ngIf="teamStaticContent === undefined">No data available!</div>

        <div class="leadership" *ngIf="leadershipList !== undefined && leadershipList?.length > 0">
          <h3  >Leadership</h3>
          <div class="leader_box" *ngFor="let member of leadershipList;">
            <div class="row leader_main">
              <div class="col-lg-4 leader_main_cont left_leader">
                <figure *ngIf="member?.image">
                  <img src="{{BASE_IMAGE_URL}}cms/{{member?.image}}" alt="">
                </figure>
              </div>
              <div class="col-lg-8 leader_main_cont right_leader">
                <h4>{{member?.name}}, {{member?.qualification}}</h4>
                <span>{{member?.designation}}</span>
               <section [innerHtml]="member?.description"></section>
              </div>
            </div>
          </div>
        </div>
        <div class="no-data-center" *ngIf="leadershipList === undefined || leadershipList?.length === 0">No data available!</div>
      </div>
    </div>
  </div> -->

  <div class="meet_sec common_gap">
    <div class="container">
      <div class="meet_inner">
        <div class="meet_top" *ngIf="teamStaticContent !== undefined">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <h3>Meet the <span class="meet-team-tag">NeuroNexus</span> Team</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <section [innerHtml]="teamStaticContent?.content"></section>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="divider-border"></div>
            </div>
          </div>
        </div>
        <div class="no-data-center" *ngIf="teamStaticContent === undefined">No data available!</div>
  
        <div class="leadership" *ngIf="leadershipList !== undefined && leadershipList?.length > 0">
          <h3>Leadership</h3>
          <figure>
            <ul class="blocks-gallery-grid columns-3">
              <li class="blocks-gallery-item" *ngFor="let member of leadershipList">
                <figure *ngIf="member?.image">
                  <img src="{{BASE_IMAGE_URL}}cms/{{member?.image}}" alt="">
                  <figcaption class="blocks-gallery-item__caption">
                    {{member?.name}}, {{member?.qualification}}
                    <br>
                    {{member?.designation}}
                  </figcaption>
                </figure>
              </li>
            </ul>
          </figure>
        </div>
        <div class="no-data-center" *ngIf="leadershipList === undefined || leadershipList?.length === 0">No data available!</div>
      </div>
  
      <div class="salesGroup" *ngIf="salesList !== undefined && salesList?.length > 0">
        <h3>Sales & Marketing Group</h3>
        <figure>
          <ul class="blocks-gallery-grid columns-5">
            <li class="blocks-gallery-item" *ngFor="let member of salesList">
              <figure *ngIf="member?.image">
                <img src="{{BASE_IMAGE_URL}}cms/{{member?.image}}" alt="">
                <figcaption class="blocks-gallery-item__caption">
                  {{member?.name}}
                  <br>
                  {{member?.designation}}
                </figcaption>
              </figure>
            </li>
          </ul>
        </figure>
      </div>
      <div class="no-data-center" *ngIf="salesList === undefined || salesList?.length === 0">No data available!</div>
    </div>
  </div>